@{
    ViewData["Title"] = "Home Page";
}

<div>
    登录名：<input id="loginName" type="text" />
    密码：<input id="loginPwd" type="password" />
    <button class="submit">登录</button>
</div>
<script>
    $(".submit").click(function () { 
        var loginName = $("#loginName").val();
        var loginPwd = $("#loginPwd").val();
        if (loginName == null || loginName.trim() == "" || loginPwd == null || loginPwd == "") {
            alert("登录名和密码不能为空");
            return false;
        } else {
            $.post("/Home/Login", { username: loginName, password: loginPwd }, function (res) {
                var a = res;
                if (res == "1") {
                    window.location.href = "/Home/About";
                }
                else {
                    alert("登录失败")

                }

            })

        }
        console.log(loginName);
        console.log(loginPwd);
    })
    
</script>